.bg-dark1 {
    background-color: var(--headerNavbar);
}

#sel1 {
    background-color: var(--button-color3);
    color: var(--color1);
}

.userIcon {
    color: white;
}
.selectProps li a{
    color: black;
}
.popDesg{
    position:absolute;
    right: 1%;
    border:1px solid white;
    background-color:black;
    color:white;
    border-radius:5px;
    padding:4px 10px;

}

.header{
    color:var(--header) !important;
    font-size: xx-large;
    max-width: 600px;
    font-weight: 900;
}
.navbar-nav{justify-content: space-flex-start ;align-items: center;}
.nrcs{
    color:var(--color1);
    font-size: 12px;
}
.nrcsMenu{
    color:var(--color1);
    font-size:16px;
}

.time{
    color:var(--color1);
    font-size: 12px;
    font-weight: 200;
    display: flex;
    align-items: center;
    margin-left: 27%;
}


.headerTimezone{
    align-items: center;    
     margin-right:25px;
}