<app-header></app-header>
<div class="row" id="mySidenav">
<div class="navbar navbar-expand-lg navbar-light headerPrompter">
  <div style="font-size: 18px" class="d-flex" style="width: 100%; justify-content: space-between; align-items: center">
    <div class="d-flex" style="width: 100%; align-items: center">
      <!--<button style="font-size: 18px" class="fa fa-home btn btn-outline-light btn-lg fa-2x ms-4" id="modalOpen"
        type="button" (click)="homeBtn()"></button>-->
      <div class="timer">
        <cd-timer [autoStart]="false" #basicTimer format="hms"></cd-timer>
        <p *ngIf="timerShow" style="margin:0;">00:00:00</p>

      </div>
      <div class="time inpDate ms-4">
        <select class="fa fa-caret-down modal_text alignRecurrence inputRecurrence" aria-hidden="true" id="recurrence"
          aria-label="Default select example" (change)="getDate($event)">
          <option>Select</option>
          <option [value]="item" *ngFor="let item of dateTeleprompter">{{item}}</option>
        </select>
      </div>
      <div class="time inpDate ms-4">
        <select class="fa fa-caret-down modal_text alignRecurrence inputRecurrence" aria-hidden="true" id="recurrence"
          aria-label="Default select example" (change)="getRundown($event)">
          <option>Select Rundown</option>
          <option [value]="rundown.rundownid" *ngFor="let rundown of rundownTelename">{{rundown.rundownName}}</option>
        </select>
      </div>
    </div>

    <div class="d-flex me-4" style="width: 100%; justify-content: flex-end;">
      <div class="bgClr">
        <div>
          
            <input type="color" (change)="getColor($event)" />
          
        </div>
        <div>
            <input type="color" style="margin-top:8%;" (change)="getBackgroundColor($event)" />
          
        </div>
      </div>
      <div class="sliderSize">
        <div>
          <label class="rangeBar">
            FontSize
          </label>
          <input type="range" min="12" max="500" (input)="changeFont($event)" />
      
        </div>
        <div>
          <label class="rangeBar">
            Margin
          </label>
          <input type="range" min="5" max="500" (input)="changeMargin($event)" />
        </div>
        <div>
          <label class="rangeBar">
            Speed
          </label>
          <input type="range" min="5000" max="60000" (input)="changeSpeed($event)" />
        </div>
      </div>
      <div class="d-flex teleIcon">
        <i class="fa fa-play icon" aria-hidden="true" *ngIf="playHide"
        (click)="scrollTOElement(speedDuration)"
          style="margin:0.5%;font-size:x-large;text-align: right;"></i>
        <i class="fa fa-pause icon" style="margin:5%;font-size:x-large;text-align: right;" aria-hidden="true"
          *ngIf="stopBtn" (click)="scrollstopElement()"></i>
        <i class="fa fa-refresh icon" aria-hidden="true" style="margin:0.5%;font-size:x-large;text-align:right;"
          (click)="getRefresh()"></i>
        <i class="fa fa-floppy-o icon" aria-hidden="true" style="margin:0.5%;font-size:x-large;text-align:right;"></i>
        <i class="fa fa-expand" aria-hidden="true" style="margin:0.5%;font-size:x-large;text-align:right;" (click)="fullScreen()"></i>
      </div>

    </div>
    </div>
  </div>
<div *ngIf="storyShow" class="txt_clr">
  <div style="display: flex;justify-content: center;align-items: center;font-size: xx-large;">There is no rundown story
  </div>
</div>

<div class="storyTelePrompter ms-4 me-4" else id="StoryEle" #boxa>
  <button (blur)="scrollstopElement()" style="display:none;">Stopcroll</button>
  <div *ngFor="let item of storyTelePrompterData;">

    <div class="d-flex">
      <!-- <input readonly [value]="item.id" style="width: 20%" type="text" placeholder="id"
        class="form-control modal_text mx-1 my-2" /> -->
        <P  style="width: 20%" type="text" placeholder="id"
        class="modal_text1 mx-1 my-2">{{item.id}}</P>
      <!-- <input readonly [value]="item.slugname" class="mx-1 my-2" style="width: 20%" type="text" placeholder="SlugName"
        class="form-control modal_text mx-1 my-2" /> -->
        <p class="mx-1 my-2" style="width: 20%" type="text" placeholder="SlugName"
        class="modal_text1 mx-1 my-2">{{item.slugname}}</p>
    </div>
    <p  class="e2e-inner-html-bound para" [innerHTML]="item.story_editor">
      {{item.story_editor}}
    </p>
    </div>
</div>
<div class="arrowBtn" *ngIf="topBtn">
  <i class="fa fa-arrow-up" aria-hidden="true" (click)="goToTopBox()"></i>

</div>
<div id="elementTo" ></div>


</div>













