<app-header></app-header>
<div class="container-fluid">
    <div class="row" id="mySidenav">
      <!--<div class="col-md-12">
        <button class="btn-back bs-tooltip" placement="right" tooltip="Dashboard"><span
            class="glyphicon glyphicon-chevron-left"></span></button>
        <button id="toggle_fullscreen" placement="left" tooltip="Fullscreen"><i
            id="ec" class="glyphicon glyphicon-fullscreen"></i></button></div>--->
      <div class="col-md-12">
        <div class="row" style="margin-top:2%">
         
              <div class="col-md-3 wd-20">
                <div>
  
                  <div  class="head-box bg5" >
                    <div class="headbox-inner">Completed Rundown<span> 0</span></div>

                    <div>
                    
                    </div>
  
                  </div>
                </div>
              </div>
              <div class="col-md-3 wd-20">
                <div>
                  <div  class="head-box bg4">
                    <div class="headbox-inner">Pending Rundown<span> 0</span></div>
                  </div>
               
                </div>
              </div>
              <div class="col-md-3 wd-20">
                <div>
                  <div class="head-box bg3">
                    <div class="headbox-inner">Used Storage<span>0 Gb</span></div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 wd-20">
                <div>
                  <div class="head-box bg2">
                    <div class="headbox-inner">Alerts <span>0</span></div>
                  </div>
                </div>
            
  
          </div>
        </div>

        <!-- 2 Row -->

        <div class="row" style="padding:5px; margin-top: 10px;">
         
              <div class="col-md-6 wd-20">
                <div>
  
                  <div  class="head-box" style="height:300px;border: 1px solid green">
                    <div class="headbox-inner" style="color:white">
                      <video width="100%" height="300" controls>
                        <source src="https://www.youtube.com/watch?v=X01PdGv2D1M" type="video/mp4">
                        <source src="movie.ogg" type="video/ogg">
                      </video>
                    </div>

                    <div>
                    
                    </div>
  
                  </div>
                </div>
              </div>
              <div class="col-md-6 wd-20">
                <div>
                  <div  class="head-box"  style="height:300px;border: 1px solid orange">
                    <div class="headbox-inner" style="color:white">
                      <video width="100%" height="300" controls>
                        <source src="https://www.youtube.com/watch?v=X01PdGv2D1M" type="video/mp4">
                        <source src="movie.ogg" type="video/ogg">
                      </video>

                    </div>
                  </div>
               
                </div>
              </div>
              
           </div>



        <!--3 row---->


        <div class="row"  style="margin-top: 10px;">
         
              <div class="col-md-12 wd-20">
                <div>
  
                  <div  class="head-box" style="height:175px;">
                    <div class="headbox-inner">
                      <table class="table table-bordered table-dark">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Slug Name</th>
                            <th scope="col">Storey</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  style="background-color: green">
                            <th  style="background-color: green"scope="row">1</th>
                            <td  style="background-color: green">Ecnomics</td>
                            <td  style="background-color: green">Economics is the study of scarcity and its implications for the use of resources...
                            </td>
                            <td  style="background-color: green">09:00:00 PM</td>
                            <td  style="background-color: green">09:30:00 PM</td>
                            <td  style="background-color: green">live</td>
                          </tr>
                          <tr>
                            <th style="background-color: orange"scope="row">2</th>
                            <td style="background-color: orange">Sports</td>
                            <td style="background-color: orange">Cricket Live....</td>
                            <td  style="background-color: orange">09:31:00 PM</td>
                            <td  style="background-color: orange">10:30:00 PM</td>
                            <td style="background-color: orange">Next Play</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td >Poltics</td>
                            <td >PM Narendra Modi....</td>
                            <td >10:31:00 PM</td>
                            <td>11:30:00 PM</td>
                            <td>Completed</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td >Local News</td>
                            <td >PM Narendra Modi....</td>
                            <td >11:31:00 PM</td>
                            <td>12:30:00 PM</td>
                            <td>Completed</td>
                          </tr>
                        </tbody>
                      </table>                      
                    </div>

                    <div>
                    
                    </div>
  
                  </div>
                </div>
              </div>
              
        </div>
      </div>
  
    </div>
  